@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: rgb(52, 48, 48)
}

.container {
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.img-body img {
  display: flex;
  object-fit: cover;
  position: relative;
}

.img-body {
  display: inline-block;
}

.img-body h2 {
  position: absolute;
  color: rgb(255, 166, 0);
  font-size: 50px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px #000000;
}

.img-body p {
  position: absolute;
  color: rgb(255, 166, 0);
  font-size: 15px;
  font-weight: 600;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px #000000;
}

.rotate-180 {
  transform: rotate(180deg);
}

.coffee-bean-menu{
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border: rgb(52, 48, 48) solid 1px;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
}